<section class="header">
  <div class = 'modals'>
    <div id='addnewtrack'>
      <%= link_to '+ Add New Track', new_playlist_path %>
    </div>
  </div>
  <div class='header-title'>
    <p id="main-header">Playlist</p>
  </div>
</section>