<div class= 'new-form'>
    <h1>New Track</h1>

    <div class= 'track-form'>
        <%= render 'form', playlist: @playlist %>
    </div>

    <div class='page-controls'>
      <div id='back'>
        <%= link_to '| Back to Playlist|', playlists_path %>
      </div>
    </div>

</div>
